body{
    display: flex;
    flex-direction: column;
    background-image: url(./img/background.webp);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

header{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center ;
    margin-bottom: 5%;
    border: 5px solid black;
    border-radius: 10px;
    align-items: center;
    grid-column: 1 3;
}



#vagn{
    padding-right: 5%;
}

#pil{
    padding-right: 10%;
}

button{
    background-color: white;
}

nav{
    display: none;
}

/*header img{
    margin-left: 30%;
}
*/



#banner img{
    width: 95%;
    max-height: 100%;
    border: 5px solid black;
    border-radius: 10px;
}

main div{
    background-color: white;
    margin: 5%;
    padding-top: 10%;
    border: 8px solid black;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

img{
    max-height: 50px;
    width: auto;
}

button{
    margin-bottom: 5%;
}

button:active{
    background-color:gray;
}

button:hover{
    background-color: gray;
}

footer{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 5%;
    padding-bottom: 2%;
}

#kundvagn{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {

    #rubrik{
        padding-left: 30%;
    }

    #vagn{
        padding-left: 20%
    }

    #rub{
        padding-right: 30%;
    }

    #pil{
        padding-right: 30%;
        
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


}

@media screen and (min-width: 1025px) {
    
    #rubrik{
        padding-left: 43%;
    }

    #vagn{
        padding-left: 33%
    }

    #rub{
        padding-right: 40%;
    }

    #pil{
        padding-right: 40%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

